<ion-modal-view ng-controller="aboutController">
  <ion-header-bar>
    <h1 class="title">&Uuml;ber diese App</h1>
    <button class="button button-clear button-negative button-icon icon ion-close" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div style="background: #ffffff">
      <img src="resources/images/about.png" style="width: 100%">
    </div>
    <div class="padding">
      Verein Rondo Verlag<br>
      1992 - 2015<br>
      <br>
      Kontakt:<br>
      <a href="mailto:mail@rondo-verlag.ch" class="invisible-link">mail@rondo-verlag.ch</a><br>
      <br>
      <br>
      <br>
      <br>
      Gestaltung:<br>
      Marabu, Irene Stutz, Signito GmbH<br>
      <br>
      Technische Umsetzung:<br>
      Fäger, Demian Holderegger, uSystems GmbH<br>
      <br>
    </div>
  </ion-content>
</ion-modal-view>