<ion-modal-view ng-controller="SettingsController">
    <ion-header-bar>
        <h1 class="title">Einstellungen</h1>
        <button class="button button-clear button-positive button-icon icon ion-close" ng-click="modal.hide()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="list card">
                <div class="item item-toggle">
                    Songtext scrollen
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="scroll.enabled">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <autoscroll scroll-name="scrollDemo" scroll-class="item item-body" scroll-style="height: 4em;" scroll-enabled="scroll.enabled" scroll-speed="scroll.speed" ng-show="scroll.enabled">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </autoscroll>
                <div class="item range range-positive" ng-show="scroll.enabled">
                    <span>Geschwindigkeit</span>
                    <input type="range" min="1" max="20" ng-model="scroll.speed" />
                </div>
            </div>

        </div>
    </ion-content>
</ion-modal-view>