<ion-view title="" hm-doubletap="toggleFullscreen()" hm-pinch="doPinch()">
    <autoscroll scroll-element="ion-content" infinite="false" scroll-class="has-header has-tabs" scroll-name="songtext" scroll-speed="scrollSpeed" scroll-enabled="scroll">
        <img src="resources/images/beispiel.png" class="song-image"/>
        <div class="padding">
          <h3 class="song-title">{{title}}</h3>
          {{errormsg}}
          <songtext songdata="data"></songtext>
        </div>
    </autoscroll>
    <div class="tabs tabs-light">
        <a class="tab-item icon ion-ios7-play" ng-click="scroll = true" ng-hide="scroll">&nbsp;Scrollen</a>
        <a class="tab-item icon ion-ios7-pause" ng-click="scroll = false" ng-show="scroll">&nbsp;Anhalten</a>
        <a class="tab-item icon ion-volume-medium" ng-click="playSong()" ng-show="midiFile && !playingSong">&nbsp;Anhören</a>
        <a class="tab-item icon ion-ios7-pause" ng-click="stopSong()" ng-show="playingSong">&nbsp;Anhalten</a>
        <a class="tab-item icon ion-information-circled" ng-click="toggleChords()">&nbsp;Akkorde</a>
        <a class="tab-item icon ion-ios7-musical-notes" ui-sref="chords({ songId: songId })">&nbsp;Liste</a>
    </div>
</ion-view>
