<ion-view title="Song Detail" hm-doubletap="toggleFullscreen()" class="has-tabs">
    <autoscroll scroll-element="ion-content" scroll-class="padding has-header" scroll-name="songtext" scroll-speed="scrollSpeed" scroll-enabled="scroll">
        <h3>{{title}}</h3>
        {{errormsg}}
        <songtext songdata="data"></songtext>
    </autoscroll>
    <div class="tabs tabs-light" ng-show="scrollEnabled">
        <a class="tab-item icon ion-ios7-play" ng-click="scroll = true" ng-hide="scroll">&nbsp;Scrollen</a>
        <a class="tab-item icon ion-ios7-pause" ng-click="scroll = false" ng-show="scroll">&nbsp;Anhalten</a>
    </div>
</ion-view>
