<ion-view title="Songs">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive button-icon icon ion-wrench"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Suchen..." />
        </label>
    </ion-header-bar>
    <ion-content>
        
    </ion-content>
</ion-view>
