<ion-view title="Songs">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive button-icon icon ion-wrench" ng-click="settingsDialog.show()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Suchen..." ng-model="search.name" ng-change="runSearch(search)"/>
        </label>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="song in songs" type="item-link" href="#/song/{{song.id}}">
                {{song.name}}
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreSongsAvailable" on-infinite="onInfiniteScroll()" />
    </ion-content>
</ion-view>
