<ion-view title="RONDO">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon icon ion-information" ng-click="aboutDialog.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon icon ion-gear-a" ng-click="settingsDialog.show()"></button>
  </ion-nav-buttons>
  <ion-header-bar class="bar bar-subheader bar-dark item-input-inset rondo-bar-search">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Suchen..." ng-model="search.name"/>
    </label>
  </ion-header-bar>
  <ion-content>
    <ion-list class="rondo-list">
      <ion-item ng-repeat="song in songs | filter:search" type="item-link" ui-sref="song({songId: song.id})">
        {{song.name}} {{song.page | parenthesis}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
