<div class="container-fluid">
  <div ng-controller="SongAddCtrl">
    <div class="row">
      <div class="col-sm-8">
        <h1>Song hinzufügen</h1>
        <div ng-if="showLoading">
          Song hinzufügen ...
        </div>
        <div ng-if="!showLoading">
          <form class="form-horizontal">
            <input type="text" ng-model="song.title" class="form-control" placeholder="Titel">
            <br>
            <input type="text" ng-model="song.interpret" class="form-control" placeholder="Interpret">
            <br>
            <button type="submit" class="btn btn-success" ng-click="add()">Hinzufügen</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
