<div class="container-fluid">
  <div ng-controller="SongListCtrl">
    <a href="api/index.php/export/songs.xlsx" target="_blank" class="btn btn-default" style="float: right">Export</a>
    <h1>Rondo Lieder</h1>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search" placeholder="Suchen...">
    </div>
    <form class="form-inline">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="movaFilterActive"> Nur <b>mova</b> Songs anzeigen
        </label>
      </div>
    </form>
    <br>
    <table class="table table-striped">
      <tr>
        <th ng-click="orderBy = 'id'; orderReversed = !orderReversed">ID</th>
        <th ng-click="orderBy = 'title'; orderReversed = !orderReversed">Titel</th>
        <th ng-click="orderBy = 'interpret'; orderReversed = !orderReversed">Interpret</th>
        <th ng-click="orderBy = 'license'; orderReversed = !orderReversed">Lizenz</th>
        <th ng-click="orderBy = 'status'; orderReversed = !orderReversed">Status</th>
        <th ng-click="orderBy = 'hasImage'; orderReversed = !orderReversed">Bild</th>
        <th ng-click="orderBy = 'hasNotesPDF'; orderReversed = !orderReversed">Noten</th>
        <th ng-click="orderBy = 'hasMidi'; orderReversed = !orderReversed">Midi</th>
        <th ng-click="orderBy = 'copyrightStatusApp'; orderReversed = !orderReversed">&copy; App</th>
        <th ng-click="orderBy = 'copyrightStatusBook2021'; orderReversed = !orderReversed">&copy; Buch2021</th>
        <th ng-click="orderBy = 'releaseBook2017'; orderReversed = !orderReversed">Buch2017</th>
        <th ng-click="orderBy = 'releaseApp2017'; orderReversed = !orderReversed">App</th>
        <th ng-click="orderBy = 'releaseBook2021'; orderReversed = !orderReversed">Mova</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="song in filtered = (list | filter:movaFilter | filter:search | orderBy : orderBy : orderReversed )" ng-dblclick="editSong(song.id)">
        <td>{{song.id}}</td>
        <td>{{song.title}}</td>
        <td>{{song.interpret}}</td>
        <td><license license="song.license"></license></td>
        <td><status status="song.status"></status></td>
        <td><yesno state="song.hasImage"></yesno></td>
        <td><yesno state="song.hasNotesPDF"></yesno></td>
        <td><yesno state="song.hasMidi"></yesno></td>
        <td>
          <status status="song.copyrightStatusApp" ng-show="song.license !== 'FREE'"></status>
          <span ng-show="song.license === 'FREE'" style="color: green;">-</span>
        </td>
        <td>
          <status status="song.copyrightStatusBook2021" ng-show="song.license !== 'FREE'"></status>
          <span ng-show="song.license === 'FREE'" style="color: green;">-</span>
        </td>
        <td><yesno state="song.releaseBook2017"></yesno></td>
        <td><yesno state="song.releaseApp2017"></yesno></td>
        <td><yesno state="song.releaseBook2021"></yesno></td>
        <td><button type="button" class="btn btn-xs btn-success" ng-click="editSong(song.id)">Bearbeiten</button></td>
      </tr>
    </table>
    <p class="text-muted">
      {{filtered.length}} Lieder gefunden |
      <a href="api/index.php/export/songs.csv" target="_blank">Lieder als CSV exportieren</a> |
      <a href="api/index.php/export/listchords" target="_blank">Alle Akkorde auflisten</a> |
      <a href="api/index.php/export/index" target="_blank">App Index</a> |
      <a href="api/index.php/export/html" target="_blank">HTML & Bilder exportieren</a> |
      <a href="api/index.php/export/zip" target="_blank">Daten als ZIP exportieren</a> |
      <a href="api/index.php/export/indesign.zip" target="_blank">InDesign ZIP</a> |
      <a href="api/index.php/export/bookindex.csv" target="_blank">Buch Index</a>


    </p>
  </div>
</div>
