<div class="container-fluid">
  <div ng-controller="SongDetailCtrl">
    <div class="row">
      <div class="col-sm-8">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <a href="#/songs/{{prevSongId}}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button></a>
              <a href="#/songs/{{nextSongId}}"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button></a>
              <br><br>
              <a href="#/songs">&laquo; zurück zur Liste</a>
            </div>
            <div class="col-sm-10">
              <h1>{{song.title}}&nbsp; <status status="song.status" style="font-size: 14px"></status></h1>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">Titel</label>

            <div class="col-sm-9">
              <input type="text" ng-model="song.title" class="form-control" id="inputTitle" placeholder="Titel">
            </div>
          </div>

          <div class="form-group">
            <label for="alternativeTitles" class="col-sm-3 control-label">Weitere Titel</label>
            <div class="col-sm-9">
              <textarea id="alternativeTitles" class="form-control" rows="2" ng-model="song.alternativeTitles"></textarea>
              <span class="small">
                Alternative Titel unter denen das Lied aufgelistet wird (Erste Zeile, Refrain etc.). Ein Titel pro Zeile. <br>
                Erster Buchstabe gross, ansonsten wie Text</span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputInterpret" class="col-sm-3 control-label">Interpret</label>

            <div class="col-sm-9">
              <input type="text" ng-model="song.interpret" class="form-control" id="inputInterpret">
              <span class="small">
                Bandname oder Künstler, damit in der App danach gesucht werden kann.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="text" class="col-sm-3 control-label">Text</label>

            <div class="col-sm-9">
              <textarea id="text" class="form-control" rows="15" ng-model="song.text"></textarea>
              <span class="small">
                Moll-Akkorde in deutscher Notation (z.B. "Hm" und nicht "h")<br>
                Strophen nicht nummerieren<br>
                Ref. (ohne Doppelpunkt) wird immer wiederholt (nicht nur Wort «Ref.», sondern gesamter Text)
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success" ng-click="save()">Speichern <i ng-show="showSavedIcon" class="glyphicon glyphicon-ok-sign"></i></button>
            </div>
          </div>

          <div class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">Seitenzahlen</label>

            <div class="col-sm-2">
              <span class="label label-danger">Rot</span>
              <input type="text" ng-model="song.pageRondoRed" class="form-control" placeholder="Seitenzahl">
            </div>
            <div class="col-sm-2">
              <span class="label label-primary">Blau</span>
              <input type="text" ng-model="song.pageRondoBlue" class="form-control" placeholder="Seitenzahl">
            </div>
            <div class="col-sm-2">
              <span class="label label-success" style="background: #99FF99;">Grün</span>
              <input type="text" ng-model="song.pageRondoGreen" class="form-control" placeholder="Seitenzahl">
            </div>
            <div class="col-sm-2">
              <span class="label label-success" style="background: orange;">2017</span>
              <input type="text" ng-model="song.pageRondo2017" class="form-control" placeholder="Seitenzahl">
            </div>
          </div>


          <div class="form-group">
            <label for="status" class="col-sm-3 control-label">Status</label>

            <div class="col-sm-9">
              <select ng-model="song.status" id="status">
                <option value="NEW">Neu</option>
                <option value="INPROGRESS">In Arbeit</option>
                <option value="DONE">Fertig</option>
              </select>
              <status status="song.status"></status>
            </div>
          </div>

          <div class="form-group">
            <label for="comments" class="col-sm-3 control-label">Kommentar zum Status</label>

            <div class="col-sm-9">
              <textarea id="comments" class="form-control" rows="4" ng-model="song.comments"></textarea>
            </div>
          </div>

          <!--
          <div class="form-group">
            <label for="inputMusicXMLFile" class="col-sm-3 control-label">MusicXML Datei hochladen</label>

            <div class="col-sm-3">
              <input type="file" id="inputMusicXMLFile" nv-file-select uploader="uploader"/>
            </div>
            <div class="col-sm-3">
            <span ng-repeat="item in uploader.queue">
              <button ng-click="item.upload()" class="btn btn-xs btn-success">Hochladen</button>
            </span>
            </div>
          </div>
          -->

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <h4>Copyright</h4>
            </div>
          </div>

          <div class="form-group">
            <label for="license" class="col-sm-3 control-label">Lizenz</label>

            <div class="col-sm-9">
              <select ng-model="song.license" id="license">
                <option value="UNKNOWN">Unbekannt</option>
                <option value="LICENSED">Lizenziert</option>
                <option value="FREE">Frei</option>
              </select>
              <license license="song.license"></license>
            </div>
          </div>

          <div ng-if="song.license == 'LICENSED'">


            <div class="form-group" ng-if="song.license == 'LICENSED'">
              <label for="license" class="col-sm-3 control-label">Lizenz-Typ</label>

              <div class="col-sm-9">
                <select ng-model="song.license_type" id="license-type">
                  <option value="UNKNOWN">Unbekannt</option>
                  <option value="ONE_TIME">Einmalig</option>
                  <option value="ANNUAL">Jährlich</option>
                  <option value="FREE">Gratis</option>
                </select>
                <licensetype license="song.license_type"></licensetype>
              </div>
            </div>


            <div class="form-group">
              <label for="copyrightInfo" class="col-sm-3 control-label">Copyright Text (App & Buch)</label>

              <div class="col-sm-9">
                <textarea id="copyrightInfo" class="form-control" rows="7" ng-model="song.copyrightInfo"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="copyrightContact" class="col-sm-3 control-label">Halter / Kontakt</label>

              <div class="col-sm-9">
                <textarea id="copyrightContact" class="form-control" rows="7" ng-model="song.copyrightContact"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="copyrightStatusApp" class="col-sm-3 control-label">Copyright Status App</label>

              <div class="col-sm-9">
                <select ng-model="song.copyrightStatusApp" id="copyrightStatusApp">
                  <option value="NEW">Neu</option>
                  <option value="INPROGRESS">In Arbeit</option>
                  <option value="DONE">Fertig</option>
                  <option value="NO_LICENSE">Fertig, keine Lizenz erhalten</option>
                </select>
                <status status="song.copyrightStatusApp"></status>
              </div>
            </div>

            <div class="form-group">
              <label for="copyrightStatusBook" class="col-sm-3 control-label">Copyright Status Buch</label>

              <div class="col-sm-9">
                <select ng-model="song.copyrightStatusBook" id="copyrightStatusBook">
                  <option value="NEW">Neu</option>
                  <option value="INPROGRESS">In Arbeit</option>
                  <option value="DONE">Fertig</option>
                  <option value="NO_LICENSE">Fertig, keine Lizenz erhalten</option>
                </select>
                <status status="song.copyrightStatusBook"></status>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success" ng-click="save()">Speichern <i ng-show="showSavedIcon" class="glyphicon glyphicon-ok-sign"></i></button>
              <button type="submit" class="btn btn-default" ng-click="showList()">&laquo; zur Liste</button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-sm-4">
        <br>
        <h4>Vorschau</h4>

        <div class="preview" ng-class="{ 'rondo-show-chords': showAccords }">
          <div ng-bind-html="preview"></div>
        </div>
        <label>
          <input type="checkbox" ng-model="showAccords"> Akkorde anzeigen
        </label>

        <br>
        <br>

        <h4>Sibelius Screenshot</h4>
        <br>
        <a href="api/index.php/songs/{{song.id}}/raw/rawNotesPNG.png" target="_blank"><img src="api/index.php/songs/{{song.id}}/raw/rawNotesPNG.png" width="320"></a>
        <br>
        <br>

        <h4>Dateien hochladen</h4>

        <form>
          <div class="form-group">
            <label for="inputImage" class="control-label">Titelbild</label>
            1242 x 660 px<br>
            <input type="file" name="file" id="inputImage" onchange="angular.element(this).scope().uploadFile(this.files, 'rawImage')"/>
            <div ng-if="song.rawImageSize > 0">
              <br>
              <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i> <a href="api/index.php/songs/{{song.id}}/raw/rawImage.png" target="_blank">Download</a>
              {{song.rawImageSize / 1048576 | number : 2}} MB
            </div>
            <div ng-if="song.rawImageSize == 0" class="text-muted"><br><i class="glyphicon glyphicon-remove-sign" style="color: red;"></i> Keine Datei hochgeladen</div>
          </div>

          <div class="form-group">
            <label for="sibeliusFile" class="control-label">Sibelius Datei</label>
            <input type="file" name="file" id="sibeliusFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawSIB')"/>
            <div ng-if="song.rawSIBSize > 0">
              <br>
              <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i> <a href="api/index.php/songs/{{song.id}}/raw/rawSIB.sib" target="_blank">Download</a>
              {{song.rawSIBSize / 1048576 | number : 2}} MB
            </div>
            <div ng-if="song.rawSIBSize == 0" class="text-muted"><br><i class="glyphicon glyphicon-remove-sign" style="color: red;"></i> Keine Datei hochgeladen</div>
          </div>

          <div class="form-group">
            <label for="notesFile" class="control-label">Noten PDF</label>
            <input type="file" name="file" id="notesFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawNotesPDF')"/>
            <div ng-if="song.rawNotesPDFSize > 0">
              <br>
              <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i> <a href="api/index.php/songs/{{song.id}}/raw/rawNotesPDF.pdf" target="_blank">Download</a>
              {{song.rawNotesPDFSize / 1048576 | number : 2}} MB
            </div>
            <div ng-if="song.rawNotesPDFSize == 0" class="text-muted"><br><i class="glyphicon glyphicon-remove-sign" style="color: red;"></i> Keine Datei hochgeladen</div>
          </div>

          <div class="form-group">
            <label for="midiFile" class="control-label">Midi Datei</label>
            <input type="file" name="file" id="midiFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawMidi')"/>
            <div ng-if="song.rawMidiSize > 0">
              <br>
              <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i> <a href="api/index.php/songs/{{song.id}}/raw/rawMidi.mid" target="_blank">Download</a>
              {{song.rawMidiSize / 1048576 | number : 2}} MB
            </div>
            <div ng-if="song.rawMidiSize == 0" class="text-muted"><br><i class="glyphicon glyphicon-remove-sign" style="color: red;"></i> Keine Datei hochgeladen</div>
          </div>

          <div class="form-group">
            <label for="copyrightFile" class="control-label">Copyright Vertrag</label>
            <input type="file" name="file" id="copyrightFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawCopyrightPDF')"/>
            <div ng-if="song.rawCopyrightPDFSize > 0">
              <br>
              <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i> <a href="api/index.php/songs/{{song.id}}/raw/rawCopyrightPDF.pdf" target="_blank">Download</a>
              {{song.rawCopyrightPDFSize / 1048576 | number : 2}} MB
            </div>
            <div ng-if="song.rawCopyrightPDFSize == 0" class="text-muted"><br><i class="glyphicon glyphicon-remove-sign" style="color: red;"></i> Keine Datei hochgeladen</div>
          </div>
        </form>


      </div>
    </div>

  </div>
</div>