<div class="container-fluid">
  <div ng-controller="SongDetailCtrl">
    <div class="row">
      <div class="col-sm-8">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-2 control-label"><br><br><a href="#/songs">&laquo; zurück zur Liste</a></div>
            <div class="col-sm-10">
              <h1>{{song.title}}&nbsp;</h1>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">Titel</label>

            <div class="col-sm-9">
              <input type="text" ng-model="song.title" class="form-control" id="inputTitle" placeholder="Titel">
            </div>
          </div>

          <div class="form-group">
            <label for="alternativeTitles" class="col-sm-3 control-label">Weitere Titel</label>
            <div class="col-sm-9">
              <textarea id="alternativeTitles" class="form-control" rows="2" ng-model="song.alternativeTitles"></textarea>
              <span class="small">Alternative Titel unter denen das Lied aufgelistet wird (Erste Zeile, Refrain etc.). Ein Titel pro Zeile.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="text" class="col-sm-3 control-label">Text</label>

            <div class="col-sm-9">
              <textarea id="text" class="form-control" rows="15" ng-model="song.text"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">Seitenzahlen</label>

            <div class="col-sm-2">
              <span class="label label-danger">Rot</span>
              <input type="text" ng-model="song.pageRondoRed" class="form-control" placeholder="Seitenzahl">
            </div>
            <div class="col-sm-2">
              <span class="label label-primary">Blau</span>
              <input type="text" ng-model="song.pageRondoBlue" class="form-control" placeholder="Seitenzahl">
            </div>
            <div class="col-sm-2">
              <span class="label label-success" style="background: #99FF99;">Grün</span>
              <input type="text" ng-model="song.pageRondoGreen" class="form-control" placeholder="Seitenzahl">
            </div>
          </div>

          <!--
          <div class="form-group">
            <label for="inputMusicXMLFile" class="col-sm-3 control-label">MusicXML Datei hochladen</label>

            <div class="col-sm-3">
              <input type="file" id="inputMusicXMLFile" nv-file-select uploader="uploader"/>
            </div>
            <div class="col-sm-3">
            <span ng-repeat="item in uploader.queue">
              <button ng-click="item.upload()" class="btn btn-xs btn-success">Hochladen</button>
            </span>
            </div>
          </div>
          -->

          <div class="form-group">
            <label for="inputImage" class="col-sm-3 control-label">Titelbild hochladen</label>

            <div class="col-sm-3">
              <input type="file" name="file" id="inputImage" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="song.isLicenseFree" ng-true-value="'1'" ng-false-value="'0'">
                  Lizenzfrei
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="copyrightInfo" class="col-sm-3 control-label">Copyright Infos</label>

            <div class="col-sm-9">
              <textarea id="copyrightInfo" class="form-control" rows="2" ng-model="song.copyrightInfo"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="comments" class="col-sm-3 control-label">Kommentar / Status</label>

            <div class="col-sm-9">
              <textarea id="comments" class="form-control" rows="4" ng-model="song.comments"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success" ng-click="save()">Speichern</button>
              <button type="submit" class="btn btn-default" ng-click="showList()">&laquo; zur Liste</button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-sm-4">
        <br>
        <b>Vorschau</b>

        <div class="preview" ng-class="{ 'rondo-show-chords': showAccords }">
          <div ng-bind-html="preview"></div>
        </div>
        <label>
          <input type="checkbox" ng-model="showAccords"> Akkorde anzeigen
        </label>
      </div>
    </div>

  </div>
</div>