<div class="container-fluid">
  <div ng-controller="SongListCtrl">
    <h1>Rondo Lieder</h1>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search" placeholder="Suchen...">
    </div>
    <table class="table table-striped">
      <tr>
        <th ng-click="orderBy = 'id'; orderReversed = !orderReversed">ID</th>
        <th ng-click="orderBy = 'title'; orderReversed = !orderReversed">Titel</th>
        <th ng-click="orderBy = 'license'; orderReversed = !orderReversed">Lizenzfrei</th>
        <th ng-click="orderBy = 'status'; orderReversed = !orderReversed">Status</th>
        <th ng-click="orderBy = 'hasImage'; orderReversed = !orderReversed">Bild</th>
        <th ng-click="orderBy = 'hasNotesPDF'; orderReversed = !orderReversed">Noten</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="song in filtered = (list | filter:search | orderBy : orderBy : orderReversed )" ng-dblclick="editSong(song.id)">
        <td>{{song.id}}</td>
        <td>{{song.title}}</td>
        <td><license license="song.license"></license></td>
        <td><status status="song.status"></status></td>
        <td>{{song.hasImage}}</td>
        <td>{{song.hasNotesPDF}}</td>
        <td><button type="button" class="btn btn-xs btn-success" ng-click="editSong(song.id)">Bearbeiten</button></td>
      </tr>
    </table>
    <p class="text-muted">
      {{filtered.length}} Lieder gefunden |
      <a href="api/index.php/export/listchords" target="_blank">Alle Akkorde auflisten</a> |
      <a href="api/index.php/export/index" target="_blank">Index exportieren</a> |
      <a href="api/index.php/export/html" target="_blank">HTML & Bilder exportieren</a> |
      <a href="api/index.php/export/zip" target="_blank">Daten als ZIP exportieren</a>
    </p>
  </div>
</div>