songtext {

  .page-numbers {
    line-height: 32px;
    font-size: 110%;
    color: white;
    span {
      margin: 0 !important;
    }
    .rondo-red {
      color: red;
    }
    .rondo-blue {
      color: #0099ff;
    }
    .rondo-green {
      color: #99FF99;
    }
    .rondo-orange {
      color: orange;
    }
  }

  .rondo-play-button {
    text-align: right;
    margin-top: -6px;
    i {
      font-size: 28px;
    }
  }

  .col {
    padding: 0;
  }

  .songtext {
    margin-top: 16px;
    font-size: 1.3em;
    letter-spacing: 1px;
    .line {
      line-height: 2.2em;
      .word {
        float: left;
        height: 1.5em;
      }
      .bl {
        float: left;
        height: 1.5em;
      }
    }
    .chord,
    .empty-chord {
      height: 0;
      overflow: hidden;
      display: block;
      width: 0;
      white-space: nowrap;
    }
    .chord ~ .empty-chord {
      display: none;
    }
    .paragraph {
      padding-bottom: 2.5em;
      overflow: hidden;
    }
    .p_chorus {
      font-style: italic;
    }
    .comment {
      white-space: pre;
      color: #BBB
    }
  }
}
