.idea
node_modules/
/data/sibelius_export
/data/Backups
/data/InDesign
/data/Dateien_ohne_Texte
/app-old
/app/public/assets/songdata/songs/html/*.html
/app/public/assets/songdata/songs/images/*.gif
/app/public/assets/songdata/songs/notes/*.png
/app/public/assets/songdata/songs/notes/*.jpg
/app/public/assets/songdata/songs/pdfs/*.pdf
/app/public/assets/songdata/songs/midi/*.mid
/app/public/assets/fonts/Vectora/*.otf
/app/keystore/*.keystore
/app/android/app/release
