.idea
node_modules/
/app/platforms/*
!/app/platforms/platforms.json
/app/plugins/*
!/app/plugins/android.json
!/app/plugins/ios.json
!/app/plugins/fetch.json
/song-manager/api/_conf.php
/data/sibelius_export
/app/www/resources/songs/html/*.html
/app/www/resources/songs/images/*.png
/app/www/resources/songs/pdfs/*.pdf
/app/.io-config.json
/app/www/css/.sass-cache
/app/www/js/app.js.map
/app/www/css/style.css.map
/app/keystore/*.keystore
/app/build/*.apk
