node_modules/
platforms/
plugins/
.idea
data/sibelius/all
song-manager/api/_conf.php
data/sibelius_export
app/www/resources/songs/html/*.html
app/www/resources/songs/images/*.png
app/.io-config.json
app/www/css/.sass-cache
app/www/js/app.js.map
app/www/css/style.css.map
