// Custom SASS Styles


// Medien Font
@font-face {
  font-family: Medien;
  //src: url("fonts/NN_Medien/NN_Medien_Regular.otf") format("opentype");
  src: url("fonts/NN_Medien_Demo/NN_Medien_Regular_Demo.otf") format("opentype");
}

@font-face {
  font-family: Medien;
  font-weight: bold;
  //src: url("fonts/NN_Medien/NN_Medien_Bold.otf") format("opentype");
  src: url("fonts/NN_Medien_Demo/NN_Medien_Bold_Demo.otf") format("opentype");
}

@font-face {
  font-family: Medien;
  font-style: italic;
  //src: url("fonts/NN_Medien/NN_Medien_Italic.otf") format("opentype");
  src: url("fonts/NN_Medien_Demo/NN_Medien_Italic_Demo.otf") format("opentype");
}

// Vectora Font
@font-face {
  font-family: Vectora;
  src: url("fonts/Vectora/VectoraLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-weight: bold;
  src: url("fonts/Vectora/VectoraLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-style: italic;
  src: url("fonts/Vectora/VectoraLTStd-Italic.otf") format("opentype");
}

// Some Basic Theme overrides
body {
  color: #ffffff;
  background: #000000;
  font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
  letter-spacing: 1px;
}

input, button, select, textarea, h1, h2, h3, h4, h5 {
  font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
}

// Rondo Icon Font
@import "rondo-icons";


/*
// credits: http://davidbcalhoun.com/2012/more-fun-with-webkit-pseudoelements-webkit-search-cancel-button-or-pseudoclass-inception/
::-webkit-search-cancel-button {   // select all "X" buttons in search inputs
    -webkit-appearance: none;      // hide the default "X" button
}

::-webkit-search-cancel-button:after {  // generate content after all "X" buttons
    content: '';    // required for :after content to show
    display: block;

    // Setup dimensions for the custom icon.  Note that these dimensions seem to
    // affect positioning.
    width: 20px;
    height: 20px;

    // Base64 encoded custom "X" icon
    // Natively 30x30, but downscaled for highres screens
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;     // setup all the background tweaks for our custom icon
    background-size: 20px;            // icon size
    background-position: top left;    // note: this positioning will need to be tweaked for iOS
}

input[type='search'] {
  -webkit-appearance: searchfield;
}
*/

a {
  color: inherit;
  text-decoration: underline;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;
}

.bar {
  border-bottom: 1px solid transparent;
  background: none;
}

// Components
.songtext {
  font-size: 1.3em;
  letter-spacing: 1px;
  .line {
    line-height: 2.2em;
    .word {
      float: left;
      height: 1.5em;
    }
    .bl {
      float: left;
      height: 1.5em;
      //transition: all .2s;
    }
  }
  .chord,
  .empty-chord {
    height: 0;
    overflow: hidden;
    display: block;
    //max-width: 8px;
    width: 0;
    white-space: nowrap;
    //transition: all .2s;
  }
  .chord ~ .empty-chord {
    display: none;
  }
  .paragraph {
    padding-bottom: 2.5em;
    overflow: hidden;
  }
  .p_chorus {
    font-style: italic;
  }
  .comment {
    white-space: pre;
    color: #BBB
  }
}

.rondo-book-index {
  position: absolute;
  right: 10px;
  top: 5px;
  .book {
    border-radius: 15px;
    padding: 2px 8px;
  }

  .book-red {
    background: red;
    color: white;
  }
  .book-blue {
    background: blue;
    color: white;
  }
  .book-green {
    background: #59ffee;
    color: black;
  }

}


.rondo-show-chords {
  .chord,
  .empty-chord {
    height: 1.2em;
    overflow: visible;
    width: auto;
  }

  .songtext .line {
    .word,
    .bl {
      height: 2.5em;
    }
  }

  .songtext {
    color: #999;

    .chord {
      color: #FFF;
    }

    .paragraph {
      padding-bottom: 3.5em;
    }
  }
}

.popover.chord-popover {
  width: 80px;
  height: 100px;
  background: #dddddd;
  color: #000000;

  .content {
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em;

    img {
      margin-left: 5px;
    }
  }
}

.rondo-fullscreen {
  ion-header-bar {
    top: -80px;
  }
  .tabs {
    bottom: -80px;
  }
}

.header-placeholder {
  height: 44px;
}
.tabs-placeholder {
  height: 49px;
}

.bar .back-button span.back-text {
  display: none;
}

.song-detail {
  .nav-bar {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }

  .tabs {
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
  }

  .tab-item {
    opacity: 1;
  }

  .has-header {
    top: 0;
  }
  .has-tabs {
    bottom: 0;
  }
}

.browser-link {
  padding: 12px 0;
}

.report-error-link {
  color: #444;
  a {
    color: #444;
    text-decoration: none;
    font-size: 90%;
  }
}

// remove padding that the button looks equal to the default back button
.rondo-custom-back-button {
  padding: 0 !important;
}

.bar-header {
  background: black;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header-placeholder {
  .has-header,
  .has-subheader
  .bar-header,
  .bar-subheader {
    top: 20px;
    position: absolute;
  }
}

.tabs.tabs-light {
  background: black;
}

.chord-list {
  font-size: 35vw;

  i {
    width: 33%;
    display: inline-block;
  }
}

.song-image {
  width: 100%;
}

.song-title {
  text-transform: uppercase;
  font-size: 140%;
  letter-spacing: 2px;
}

.page-numbers {
  line-height: 32px;
  font-size: 110%;
  span {
    margin: 0 !important;
  }
  .rondo-red {
    color: red;
  }
  .rondo-blue {
    color: #0099ff;
  }
  .rondo-green {
    color: #99FF99;
  }
}
ion-content .page-numbers {
  display: none;
}

// Song List & Search
.rondo-bar-search {
  label {
    background: #4A4A4A;
    border: 0;

    .placeholder-icon {
      color: #CCC;
      font-size: 140%;
    }

    .placeholder-icon:first-child {
      padding-right: 0;
    }

    input {
      color: #FFF;
      letter-spacing: 1px;
    }
    input::-webkit-input-placeholder {
      color: #CCC;
    }
  }

  .clear-search {
    color: #CCC;
    font-size: 140%;
    position: absolute;
    top: 7px;
    right: 60px;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
  }

  .about-icon {
    display: inline-block;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 12px;
    margin-right: -12px;

    i {
      font-size: 220%;
    }
  }
}

.rondo-list {
  .item {
    border: none;

    .item-content {
      padding: 8px 16px;
    }
  }

  .main-title {
    font-weight: bold;
    letter-spacing: 2px;
  }

  .alt-title {
    letter-spacing: 1px;
  }
}