@font-face {
  font-family: Medien;
  src: url("fonts/NN_Medien_Demo/NN_Medien_Regular_Demo.otf") format("opentype"); }
@font-face {
  font-family: Medien;
  font-weight: bold;
  src: url("fonts/NN_Medien_Demo/NN_Medien_Bold_Demo.otf") format("opentype"); }
@font-face {
  font-family: Medien;
  font-style: italic;
  src: url("fonts/NN_Medien_Demo/NN_Medien_Italic_Demo.otf") format("opentype"); }
@font-face {
  font-family: Vectora;
  src: url("fonts/Vectora/VectoraLTStd-Roman.otf") format("opentype"); }
@font-face {
  font-family: Vectora;
  font-weight: bold;
  src: url("fonts/Vectora/VectoraLTStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: Vectora;
  font-style: italic;
  src: url("fonts/Vectora/VectoraLTStd-Italic.otf") format("opentype"); }
body {
  color: #ffffff;
  background: #000000;
  font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
  letter-spacing: 1px; }

input, button, select, textarea, h1, h2, h3, h4, h5 {
  font-family: Vectora, "Helvetica Neue", Verdana, sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px; }

@font-face {
  font-family: 'rondo';
  src: url("fonts/rondo/rondo.woff?yqenl3") format("woff"), url("fonts/rondo/rondo.ttf?yqenl3") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class^="rondo-icon-"], [class*=" rondo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rondo', Vectora, Medien, "Helvetica Neue", Verdana, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.rondo-icon-chord-A:before {
  content: "\e909"; }

.rondo-icon-chord-A7:before {
  content: "\e90a"; }

.rondo-icon-chord-Am:before {
  content: "\e90b"; }

.rondo-icon-chord-Am7:before {
  content: "\e90c"; }

.rondo-icon-chord-B:before {
  content: "\e90d"; }

.rondo-icon-chord-C:before {
  content: "\e90e"; }

.rondo-icon-chord-C7:before {
  content: "\e90f"; }

.rondo-icon-chord-D:before {
  content: "\e910"; }

.rondo-icon-chord-D7:before {
  content: "\e911"; }

.rondo-icon-chord-Dm:before {
  content: "\e912"; }

.rondo-icon-chord-E:before {
  content: "\e913"; }

.rondo-icon-chord-E7:before {
  content: "\e914"; }

.rondo-icon-chord-Em:before {
  content: "\e915"; }

.rondo-icon-chord-F-bar:before {
  content: "\e921"; }

.rondo-icon-chord-F:before {
  content: "\e917"; }

.rondo-icon-chord-Fis:before {
  content: "\e918"; }

.rondo-icon-chord-Fism:before {
  content: "\e919"; }

.rondo-icon-chord-Fm:before {
  content: "\e91a"; }

.rondo-icon-chord-G:before {
  content: "\e91b"; }

.rondo-icon-chord-G7:before {
  content: "\e91c"; }

.rondo-icon-chord-Gm:before {
  content: "\e91d"; }

.rondo-icon-chord-H7:before {
  content: "\e91e"; }

.rondo-icon-chord-Hm:before {
  content: "\e91f"; }

.rondo-icon-chord-Hm7:before {
  content: "\e916"; }

.rondo-icon-notes:before {
  content: "\e900"; }

.rondo-icon-midi:before {
  content: "\e901"; }

.rondo-icon-chords:before {
  content: "\e902"; }

.rondo-icon-library:before {
  content: "\e903"; }

.rondo-icon-stop:before {
  content: "\e904"; }

.rondo-icon-play:before {
  content: "\e905"; }

.rondo-icon-logo:before {
  content: "\e906"; }

.rondo-icon-arrow:before {
  content: "\e907"; }

.rondo-icon-search:before {
  content: "\e908"; }

/*
// credits: http://davidbcalhoun.com/2012/more-fun-with-webkit-pseudoelements-webkit-search-cancel-button-or-pseudoclass-inception/
::-webkit-search-cancel-button {   // select all "X" buttons in search inputs
    -webkit-appearance: none;      // hide the default "X" button
}

::-webkit-search-cancel-button:after {  // generate content after all "X" buttons
    content: '';    // required for :after content to show
    display: block;

    // Setup dimensions for the custom icon.  Note that these dimensions seem to
    // affect positioning.
    width: 20px;
    height: 20px;

    // Base64 encoded custom "X" icon
    // Natively 30x30, but downscaled for highres screens
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;     // setup all the background tweaks for our custom icon
    background-size: 20px;            // icon size
    background-position: top left;    // note: this positioning will need to be tweaked for iOS
}

input[type='search'] {
  -webkit-appearance: searchfield;
}
*/
a {
  color: inherit;
  text-decoration: underline; }

a.invisible-link {
  text-decoration: none;
  color: inherit; }

.bar {
  border-bottom: 1px solid transparent;
  background: none; }

.songtext {
  font-size: 1.3em;
  letter-spacing: 1px; }
  .songtext .line {
    line-height: 2.2em; }
    .songtext .line .word {
      float: left;
      height: 1.5em; }
    .songtext .line .bl {
      float: left;
      height: 1.5em; }
  .songtext .chord,
  .songtext .empty-chord {
    height: 0;
    overflow: hidden;
    display: block;
    width: 0;
    white-space: nowrap; }
  .songtext .chord ~ .empty-chord {
    display: none; }
  .songtext .paragraph {
    padding-bottom: 2.5em;
    overflow: hidden; }
  .songtext .p_chorus {
    font-style: italic; }
  .songtext .comment {
    white-space: pre;
    color: #BBB; }

.rondo-book-index {
  position: absolute;
  right: 10px;
  top: 5px; }
  .rondo-book-index .book {
    border-radius: 15px;
    padding: 2px 8px; }
  .rondo-book-index .book-red {
    background: red;
    color: white; }
  .rondo-book-index .book-blue {
    background: blue;
    color: white; }
  .rondo-book-index .book-green {
    background: #59ffee;
    color: black; }

.rondo-show-chords .chord,
.rondo-show-chords .empty-chord {
  height: 1.2em;
  overflow: visible;
  width: auto; }
.rondo-show-chords .songtext .line .word,
.rondo-show-chords .songtext .line .bl {
  height: 2.5em; }
.rondo-show-chords .songtext {
  color: #999; }
  .rondo-show-chords .songtext .chord {
    color: #FFF; }
  .rondo-show-chords .songtext .paragraph {
    padding-bottom: 3.5em; }

.popover.chord-popover {
  width: 80px;
  height: 100px;
  background: #dddddd;
  color: #000000; }
  .popover.chord-popover .content {
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em; }
    .popover.chord-popover .content img {
      margin-left: 5px; }

.rondo-fullscreen ion-header-bar {
  top: -80px; }
.rondo-fullscreen .tabs {
  bottom: -80px; }

.header-placeholder {
  height: 44px; }

.tabs-placeholder {
  height: 49px; }

.bar .back-button span.back-text {
  display: none; }

.song-detail .nav-bar {
  -webkit-transition: top 0.5s;
  transition: top 0.5s; }
.song-detail .tabs {
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s; }
.song-detail .tab-item {
  opacity: 1; }
.song-detail .has-header {
  top: 0; }
.song-detail .has-tabs {
  bottom: 0; }

.browser-link {
  padding: 12px 0; }

.report-error-link {
  color: #444; }
  .report-error-link a {
    color: #444;
    text-decoration: none;
    font-size: 90%; }

.rondo-custom-back-button {
  padding: 0 !important; }

.bar-header {
  background: black; }

.platform-ios.platform-cordova:not(.fullscreen) .has-header-placeholder .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .has-header-placeholder .has-subheader
.bar-header,
.platform-ios.platform-cordova:not(.fullscreen) .has-header-placeholder .bar-subheader {
  top: 20px;
  position: absolute; }

.tabs.tabs-light {
  background: black; }

.chord-list {
  font-size: 35vw; }
  .chord-list i {
    width: 33%;
    display: inline-block; }

.song-image {
  width: 100%; }

.song-title {
  text-transform: uppercase;
  font-size: 140%;
  letter-spacing: 2px; }

.page-numbers {
  line-height: 32px;
  font-size: 110%; }
  .page-numbers span {
    margin: 0 !important; }
  .page-numbers .rondo-red {
    color: red; }
  .page-numbers .rondo-blue {
    color: #0099ff; }
  .page-numbers .rondo-green {
    color: #99FF99; }

ion-content .page-numbers {
  display: none; }

.midi-playing {
  color: #555 !important; }

.rondo-bar-search label {
  background: #4A4A4A;
  border: 0; }
  .rondo-bar-search label .placeholder-icon {
    color: #CCC;
    font-size: 140%; }
  .rondo-bar-search label .placeholder-icon:first-child {
    padding-right: 0; }
  .rondo-bar-search label input {
    color: #FFF;
    letter-spacing: 1px; }
  .rondo-bar-search label input::-webkit-input-placeholder {
    color: #CCC; }
.rondo-bar-search .clear-search {
  color: #CCC;
  font-size: 140%;
  position: absolute;
  top: 7px;
  right: 60px;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 5px; }
.rondo-bar-search .about-icon {
  display: inline-block;
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 12px;
  margin-right: -12px; }
  .rondo-bar-search .about-icon i {
    font-size: 220%; }

.rondo-list .item {
  border: none; }
  .rondo-list .item .item-content {
    padding: 8px 16px; }
.rondo-list .main-title {
  font-weight: bold;
  letter-spacing: 2px; }
.rondo-list .alt-title {
  letter-spacing: 1px; }

/*# sourceMappingURL=style.css.map */
