// Custom SASS Styles


// Some Basic Theme overrides
body {
  color: #ffffff;
  background: #000000;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
}

input[type='range']::-webkit-slider-thumb {
  border: 1px solid #aaa;
}

.invisible-link {
  text-decoration: none;
  color: inherit;
}


// Components
.songtext {
  font-size: 1.3em;
  .line {
    line-height: 2.2em;
    .bl {
      float: left;
      height: 1.5em;
      //transition: all .2s;
    }
  }
  .chord,
  .empty-chord {
    height: 0;
    overflow: hidden;
    display: block;
    //transition: all .2s;
  }
  .chord ~ .empty-chord {
    display: none;
  }
  .paragraph {
    margin-bottom: 3em;
  }
  .p_chorus {
    font-style: italic;
  }
  .comment {
    white-space: pre;
    color: #BBB
  }
}

.rondo-book-index {
  position: absolute;
  right: 10px;
  top: 5px;
  .book {
    border-radius: 15px;
    padding: 2px 8px;
  }

  .book-red {
    background: red;
    color: white;
  }
  .book-blue {
    background: blue;
    color: white;
  }
  .book-green {
    background: #59ffee;
    color: black;
  }

}


.rondo-show-chords {
  .chord,
  .empty-chord {
    height: 1.2em;
    overflow: visible;
  }

  .songtext .line .bl {
    height: 2.5em;
  }

  .songtext {
    color: #888;

    .chord {
      color: #FFF;
    }
  }
}

.popover.chord-popover {
  width: 80px;
  height: 100px;
  background: #dddddd;
  color: #000000;

  .content {
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em;

    img {
      margin-left: 5px;
    }
  }
}

.has-header,
.nav-bar {
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.tabs {
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.fullscreen {
  ion-header-bar {
    top: -80px;
  }
  .has-header {
    top: 0;
    bottom: 0;
  }
  .tabs {
    bottom: -80px;
  }
}

chord {
  background: white;
  display: inline-block;
  border-radius: 10px;
  margin: 5px 10px 5px 0px;

  .chord-title {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }
}

.song-image {
  width: 100%;
}

.song-title {
  text-transform: uppercase;
  font-size: 140%;
}

// Song List & Search
.rondo-bar-search {
  background: #ffffff !important;

  label {
    background: #ffffff;
    border: 1px solid black;

    .placeholder-icon {
      color: #000000;
      font-size: 140%;
    }

    input {
      text-transform: uppercase;
    }
  }
}

.rondo-list {
  .item {
    border: none;

    .item-content {
      padding: 8px 16px;
    }
  }
}