<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navCtrl.pop()" class="rondo-back-button">
        <i class="icon rondo-icon-arrow"></i>
      </button>
    </ion-buttons>
    <ion-buttons right class="rondo-header-buttons-right" *ngIf="section == 'text'">
      <button ion-button (click)="toggleChords()">
        <i class="icon rondo-icon-show-chord"></i>
      </button>
      <button ion-button (click)="startAutoScroll()" *ngIf="!scroll">
        <i class="icon rondo-icon-scroll"></i>
      </button>
      <button ion-button (click)="stopAutoScroll()" *ngIf="scroll">
        <i class="icon rondo-icon-scroll icon--active"></i>
      </button>
    </ion-buttons>
    <ion-buttons right class="rondo-header-buttons-right" *ngIf="section == 'notes'">
      <button ion-button (click)="toggleSong()" *ngIf="!isPlaying">
        <i class="icon rondo-icon-listen"></i>
      </button>
      <button ion-button (click)="midiPlayer.stopSong()()" *ngIf="isPlaying">
        <i class="icon rondo-icon-listen icon--active"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content [hidden]="section != 'text'" id="rondo_scrollable" (click)="exitFullscreen()" [ngClass]="{'scrolling': scroll}">
  <ion-slides zoom="false" (ionSlideDidChange)="slideChanged()" initialSlide="2">
    <rondo-slide *ngFor="let page of pages; let i = index" (onScrollUp)="scrollUp()" (onScrollDown)="scrollDown()">
      <songtext id="{{page}}"></songtext>
    </rondo-slide>
  </ion-slides>
</ion-content>


<ion-content *ngIf="section == 'notes'" id="rondo_notes" (click)="exitFullscreen()">
  <ion-scroll zoom="true" scrollX="true" scrollY="true" style="width: 100%; height: 100%">
    <img id="page" [src]="'assets/songdata/songs/notes/'+song.id+'.png'" >
  </ion-scroll>
</ion-content>


<ion-content *ngIf="section == 'chords'" id="rondo_chords" padding (click)="exitFullscreen()">
    <div class="chord-list">
      <i *ngFor="let chord of song.chords" class="rondo-icon-chord-{{chord}}" (click)="playChord(chord)"></i>
    </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="rondo-tabs">
      <span (click)="section='text'" [ngClass]="{'rondo-tab--selected': section == 'text'}"><i class="rondo-icon-text"></i></span>
      <span (click)="section='chords'" [ngClass]="{'rondo-tab--selected': section == 'chords'}"><i class="rondo-icon-chords"></i></span>
      <span (click)="section='notes'" [ngClass]="{'rondo-tab--selected': section == 'notes'}"><i class="rondo-icon-notes"></i></span>
      <!--<span (click)="toggleSong()"><i class="rondo-icon-midi" [ngClass]="{'midi-playing': playingSong}"></i></span>
      <span (click)="toggleChords()"><i class="rondo-icon-chords"></i></span>
      <span *ngIf="!scroll" (click)="startAutoScroll()"><i class="rondo-icon-play"></i></span>
      <span *ngIf="scroll"  (click)="stopAutoScroll()"><i class="rondo-icon-stop"></i></span>-->
    </div>
  </ion-toolbar>
</ion-footer>