// Vectora Font
@font-face {
  font-family: Vectora;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-weight: bold;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-style: italic;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Italic.otf") format("opentype");
}

// Some Basic Theme overrides
// --------------------------
body {
  //font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
  letter-spacing: 1px;
}

input, button, select, textarea, h1, h2, h3, h4, h5 {
  //font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: underline;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;
}

.item-block {
  min-height: 37px !important;

  .label {
    margin: 0 8px 0 0;
    padding: 6px 0;
  }
}

.header .icon {
  color: white !important;
}


// Rondo Components
// ----------------
.songtext {
  font-size: 1.3em;
  letter-spacing: 1px;
  .line {
    line-height: 2.2em;
    .word {
      float: left;
      height: 1.5em;
    }
    .bl {
      float: left;
      height: 1.5em;
      //transition: all .2s;
    }
  }
  .chord,
  .empty-chord {
    height: 0;
    overflow: hidden;
    display: block;
    //max-width: 8px;
    width: 0;
    white-space: nowrap;
    //transition: all .2s;
  }
  .chord ~ .empty-chord {
    display: none;
  }
  .paragraph {
    padding-bottom: 2.5em;
    overflow: hidden;
  }
  .p_chorus {
    font-style: italic;
  }
  .comment {
    white-space: pre;
    color: #BBB
  }
}

.rondo-book-index {
  position: absolute;
  right: 10px;
  top: 5px;
  .book {
    border-radius: 15px;
    padding: 2px 8px;
  }

  .book-red {
    background: red;
    color: white;
  }
  .book-blue {
    background: blue;
    color: white;
  }
  .book-green {
    background: #59ffee;
    color: black;
  }
  .book-orange {
    background: orange;
    color: black;
  }
}


.rondo-show-chords {
  .chord,
  .empty-chord {
    height: 1.2em;
    overflow: visible;
    width: auto;
  }

  .songtext .line {
    .word,
    .bl {
      height: 2.5em;
    }
  }

  .songtext {
    color: #999;

    .chord {
      color: #FFF;
    }

    .paragraph {
      padding-bottom: 3.5em;
    }
  }
}

.rondo-tabs {
  color: white;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-around;

  i {
    font-size: 28px;
  }
}

.rondo-fullscreen {
  ion-header {
    top: -80px;
  }
  ion-footer {
    bottom: -80px;
  }
}

page-song {
  ion-header {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }

  ion-footer {
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
  }

  .scroll-content,
  .fixed-content {
    margin: 0 !important;
  }

  .scroll-content {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
  }
}

.platform-ios {
  page-song {
    .scroll-content {
      padding-top: 64px !important;
    }
  }
}

.browser-link {
  padding: 12px 0;
}

.report-error-link {
  color: #444;
  a {
    color: #444;
    text-decoration: none;
    font-size: 90%;
  }
}

.rondo-back-button {
  font-size: 28px !important;
}

.chord-list {
  font-size: 35vw;

  i {
    width: 33%;
    display: inline-block;
  }
}

.song-image {
  width: 100%;
}

.song-title {
  text-transform: uppercase;
  font-size: 140%;
  letter-spacing: 2px;
}

.page-numbers {
  line-height: 32px;
  font-size: 110%;
  color: white;
  span {
    margin: 0 !important;
  }
  .rondo-red {
    color: red;
  }
  .rondo-blue {
    color: #0099ff;
  }
  .rondo-green {
    color: #99FF99;
  }
  .rondo-orange {
    color: orange;
  }
}

.midi-playing {
  color: #555 !important;
}

.about-page {
  line-height: 20px;
}

// Song List & Search
.rondo-bar-search {
  display: flex;
  justify-content: space-between;

  .rondo-bar-search__input {
    flex: 1;
    margin-top: 4px;
    margin-left: 4px;
  }

  .rondo-bar-search__logo {
    width: 50px;
  }

  label {
    background: #4A4A4A;
    border: 0;
    height: 32px;
    display: inline-block;
    border-radius: 5px;

    .placeholder-icon {
      color: #CCC;
      font-size: 140%;
      position: absolute;
      margin-top: 6px;
      margin-left: 6px;
    }

    .placeholder-icon:first-child {
      padding-right: 0;
    }

    input {
      color: #FFF;
      letter-spacing: 1px;
      width: 100%;
      padding: 5px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 16px;
      border: none;
      background: transparent;
    }
    input::-webkit-input-placeholder {
      color: #CCC;
      //font-family: Vectora, "Helvetica Neue", Verdana, sans-serif;
      font-size: 16px;
    }
  }

  .clear-search {
    color: #CCC;
    font-size: 140%;
    position: absolute;
    top: 7px;
    right: 56px;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
  }

  .about-icon {
    display: inline-block;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 12px;
    margin-right: -12px;
    color: white;

    i {
      font-size: 220%;
    }
  }
}

.rondo-list {
  .item {
    border: none;
    font-size: 16px;

    .item-content {
      padding: 8px 16px;
    }
  }

  .main-title {
    font-weight: bold;
    letter-spacing: 2px;
  }

  .alt-title {
    letter-spacing: 1px;
  }
}