<ion-view title="">
  <ion-content class="has-header">
    <div style="background: #ffffff">
      <img src="resources/images/about.png" style="width: 100%">
    </div>
    <div class="padding">
      <b>&Uuml;ber diese App</b><br>
      <br>
      In dieser App sind nur lizenzfreie Lieder enthalten. Lizenzpflichtige Lieder können zu einem späteren Zeitpunkt via In-App-Kauf dazugekauft werden.<br>
      <br>
      Verein Rondo Verlag, 1992 &mdash; 2016<br>
      <br>
      &mdash;<br>
      Team digitales Rondo 2016:<br>
      <br>
      Redaktion:
      Google/Lars Fischer,
      Jojo/Alexandra Wyss,
      Krokus/Claudia Lauch,
      Lemi/Alfred Trechslin,
      Lennon/Tobias Tschopp,
      Lichee/Nina Boogen,
      Sancho/Claudio Pietra,
      Tarka/Marie-Janka Stankowski<br>
      <br>
      Gestaltung & technische Umsetzung: Marabu/Irene Stutz, Fäger/Demian Holderegger<br>
      <br>
      &mdash;<br>
      <a ng-click="launchBrowser('https://www.facebook.com/rondoverlag');" class="browser-link">facebook.com/rondoverlag</a><br>
      <br>
      <a ng-click="launchBrowser('https://www.hajk.ch/de/catalogsearch/result/?q=Rondo%20Liederbuch');" class="browser-link">Rondo Liederbuch kaufen</a><br>
      <br>
      Feedback: <a ng-click="launchBrowser('mailto:app@rondo-verlag.ch?subject=Rondo App {{app_version}} Feedback');" class="browser-link">app@rondo-verlag.ch</a><br>
      <br>
      &mdash;<br>
      Version {{app_version}}
      <br>
    </div>
  </ion-content>
</ion-view>
