<ion-view title="">
  <ion-content>
    <div class="header-placeholder"></div>
    <div style="background: #ffffff">
      <img src="resources/images/about.png" style="width: 100%">
    </div>
    <div class="padding">
      <b>&Uuml;ber diese App</b><br>
      <br>
      Verein Rondo Verlag<br>
      1992 &mdash; 2016<br>
      <br>
      Kontakt:<br>
      <a href="mailto:mail@rondo-verlag.ch" class="invisible-link">mail@rondo-verlag.ch</a><br>
      <br>
      Gestaltung:<br>
      Marabu, Irene Stutz, Signito GmbH<br>
      <br>
      Technische Umsetzung:<br>
      Fäger, Demian Holderegger, uSystems GmbH<br>
      <br>
      Version {{app_version}}
      <br>
    </div>
  </ion-content>
</ion-view>