<ion-view hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar class="bar bar-header bar-negative item-input-inset rondo-bar-search">
        <label class="item-input-wrapper">
          <i class="icon rondo-icon-search placeholder-icon"></i>
          <input type="search" placeholder="Suchen..." ng-model="query" id="song-search-input" autocorrect="off" autocapitalize="off"/>
        </label>
        <span class="clear-search" ng-show="query" ng-click="clearSearch()"><i class="icon ion-close-round"></i></span>
        <span class="about-icon" ui-sref="about">
          <i class="rondo-icon-logo"></i>
        </span>
  </ion-header-bar>
  <ion-content>
    <ion-list class="rondo-list">
      <ion-item collection-repeat="song in songs | filter: songsearch" type="item-link" item-height="36" item-width="100%" ui-sref="song({songId: song.id})" ion-track-tap="Open Song" ion-track-data="{songId: song.id, title: song.title}">
        <span ng-if="!song.alternative" class="main-title">{{song.title}}</span>
        <span ng-if="song.alternative" class="alt-title">{{song.title}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
