<ion-view title="" hm-pinch="doPinch()" class="song-detail has-header-placeholder" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back rondo-custom-back-button" ng-click="backToSonglist()">
      zur&#xFC;ck
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <span ng-bind-html="rondoPages" class="page-numbers"></span>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" on-drag-down="onScrollUp()" on-drag-up="onScrollDown()" class="has-tabs has-header" scrollbar-x="false" scrollbar-y="false" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <div class="header-placeholder"></div>
    <div ng-bind-html="songFile"></div>
    <div class="tabs-placeholder"></div>
  </ion-content>

  <div class="tabs tabs-light tabs-icon-only">
      <a class="tab-item" ng-click="startAutoScroll()" ng-if="!scroll">
        <i class="icon ion-code-download"></i>
      </a>
      <a class="tab-item" ng-click="stopAutoScroll()" ng-if="scroll">
        <i class="icon ion-ios-pause"></i>
      </a>
      <a class="tab-item" ng-click="playSong()" ng-show="midiFile && !playingSong">
        <i class="icon ion-play"></i>
      </a>
      <a class="tab-item" ng-click="stopSong()" ng-show="playingSong">
        <i class="icon ion-ios7-pause"></i>
      </a>
      <a class="tab-item" ng-click="toggleChords()">
        <i class="icon ion-levels"></i>
      </a>
      <a class="tab-item" ui-sref="chords({ songId: songId })">
        <i class="icon ion-grid"></i>
      </a>
  </div>
</ion-view>
