<ion-view title="" hm-pinch="doPinch()" class="song-detail has-header-placeholder" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon rondo-icon-arrow rondo-custom-back-button" ng-click="backToSonglist()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <span ng-bind-html="rondoPages" class="page-numbers"></span>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" on-drag-down="onScrollUp()" on-drag-up="onScrollDown()" ng-click="onScrollUp()" class="has-tabs has-header" scrollbar-x="false" scrollbar-y="false" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <div class="header-placeholder"></div>
    <!--<div ng-bind-html="songFile"></div>-->
    <div>
      <img ng-src="resources/songs/images/{{songId}}.gif" class="song-image"/>
      <div class="padding">
        <h3 class="song-title">{{songTitle}}</h3>
        <div class="songtext">
          <ng-include src="includeFile"></ng-include>
          <br>
          <div class="report-error-link">
            &mdash;<br>
            <browserlink url="mailto:app@rondo-verlag.ch?subject=Feedback zum Lied {{songTitle}} (Rondo App {{app_version}})">Fehler gefunden?</browserlink>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-placeholder"></div>
  </ion-content>

  <div class="tabs tabs-light tabs-icon-only">
      <a class="tab-item" ng-click="startAutoScroll()" ng-if="!scroll">
        <i class="icon rondo-icon-play"></i>
      </a>
      <a class="tab-item" ng-click="stopAutoScroll()" ng-if="scroll">
        <i class="icon rondo-icon-stop"></i>
      </a>
      <a class="tab-item" ng-click="toggleChords()">
        <i class="icon rondo-icon-chords"></i>
      </a>
      <a class="tab-item" ui-sref="chords({ songId: songId })">
        <i class="icon rondo-icon-library"></i>
      </a>
      <a class="tab-item" ng-click="toggleSong()">
        <i class="icon rondo-icon-midi" ng-class="{'midi-playing': playingSong}"></i>
      </a>
      <a class="tab-item" ui-sref="notes({ songId: songId })">
        <i class="icon rondo-icon-notes"></i>
      </a>
  </div>
</ion-view>
