<ion-header>
  <ion-navbar class="rondo-bar-search">
    <label class="item-input-wrapper">
          <i class="icon rondo-icon-search placeholder-icon"></i>
          <input type="search" [(ngModel)]="query" placeholder="Suchen..." id="song-search-input" autocorrect="off" autocapitalize="off"/>
        </label>
        <span class="clear-search" [hidden]="!query" (click)="clearSearch()"><ion-icon name="close-circle"></ion-icon></span>
        <span class="about-icon" [navPush]="aboutPage">
          <i class="rondo-icon-logo"></i>
        </span>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines class="rondo-list">
    <button ion-item detail-none *ngFor="let song of songs | songSearch:query" [navPush]="songPage" [navParams]="{song: song}">
      <span *ngIf="!song.alternative" class="main-title">{{song.title}}</span>
      <span *ngIf="song.alternative" class="alt-title">{{song.title}}</span>
    </button>
  </ion-list>
</ion-content>
