.preview {
	width: 320px;
	height: 500px;
	background: #000000;
	color: white;
	overflow-y: scroll;
	border-radius: 4px;
	box-shadow: 1px 1px 10px black;
	margin: 10px 0;
}

.preview .padding {
	padding: 10px;
}

.preview .song-image {
	width: 100%;
}

.table th {
	cursor: pointer;
}

.songtext {
  font-size: 1.3em;
  letter-spacing: 1px; }
  .songtext .line {
    line-height: 2.2em; }
    .songtext .line .word {
      float: left;
      height: 1.5em; }
    .songtext .line .bl {
      float: left;
      height: 1.5em; }
  .songtext .chord,
  .songtext .empty-chord {
    height: 0;
    overflow: hidden;
    display: block;
    width: 0;
    white-space: nowrap; }
  .songtext .chord ~ .empty-chord {
    display: none; }
  .songtext .paragraph {
    padding-bottom: 2.5em;
    overflow: hidden; }
  .songtext .p_chorus {
    font-style: italic; }
  .songtext .comment {
    white-space: pre;
    color: #BBB; }

.rondo-show-chords .chord,
.rondo-show-chords .empty-chord {
  height: 1.2em;
  overflow: visible;
  width: auto; }
.rondo-show-chords .songtext .line .word,
.rondo-show-chords .songtext .line .bl {
  height: 2.5em; }
.rondo-show-chords .songtext {
  color: #999; }
  .rondo-show-chords .songtext .chord {
    color: #FFF; }
  .rondo-show-chords .songtext .paragraph {
    padding-bottom: 3.5em; }
