/* Vectora Font */
@font-face {
  font-family: Vectora;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-weight: bold;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Vectora;
  font-style: italic;
  src: url("../assets/fonts/Vectora/VectoraLTStd-Italic.otf") format("opentype");
}

/* Some Basic Theme overrides */
/* -------------------------- */
body {
  letter-spacing: 1px;
}

input, button, select, textarea, h1, h2, h3, h4, h5 {
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: underline;
}

ion-header .icon {
  color: white !important;
}

.loading-md .spinner-crescent circle {
  stroke: rgba(0, 0, 0, 0.5) !important;
}

.rondo-back-button {
  font-size: 28px !important;
}

.header-md::after {
  background-image: none !important;
}
