// Custom SASS Styles

.songtext {
  font-size: 1.3em;
  .line {
    margin-top: 1em;
  }
  .chord {
    color: red;
    position: absolute;
    display: inline-block;
    margin-top: -1em;
  }
  .paragraph {
    margin: 3em 0;
  }
  .p_chorus {
    font-weight: bold;
  }
  .comment {
    white-space: pre;
    color: #BBB
  }
}