// Custom SASS Styles


// Some Basic Theme overrides
body {
  color: #ffffff;
  background: #000000;
}

::-webkit-input-placeholder {
  color: #333;
}


// Components
.songtext {
  font-size: 1.3em;
  .line {
    line-height: 2.2em;
    .bl {
      float: left;
      height: 2.5em;
    }
  }
  .chord {
    color: #888;
    display: block;
    height: 1em;
    cursor: pointer;
  }
  .empty-chord {
    height: 1em;
    display: block;
  }
  .paragraph {
    margin-bottom: 3em;
  }
  .p_chorus {
    font-weight: bold;
  }
  .comment {
    white-space: pre;
    color: #BBB
  }
}

.popover.chord-popover {
  width: 80px;
  height: 100px;
  background: #dddddd;
  color: #000000;

  .content {
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em;

    img {
      margin-left: 5px;
    }
  }
}

.has-header,
.nav-bar {
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.tabs {
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.fullscreen {
  .nav-bar {
    top: -80px;
  }
  .has-header {
    top: 0;
  }
  .tabs {
    bottom: -80px;
  }
}
