<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navCtrl.pop()" class="rondo-back-button">
        <i class="icon rondo-icon-arrow"></i>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <span [innerHTML]="pageNumbers" class="page-numbers"></span>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="section == 'text'" id="rondo_scrollable" (ionScroll)="onScroll($event)" (click)="exitFullscreen()">
  <div>
    <img [src]="'assets/songdata/songs/images/' + song.id + '.gif'" class="song-image"/>
    <div padding>
      <h3 class="song-title">{{song.title}}</h3>
      <div class="songtext">
        <div [innerHTML]="songtext"></div>
        <br>
        <div class="copyright" *ngIf="song.license">{{song.license}}</div>
        <div class="report-error-link">
          &mdash;<br>
          <browserlink url="mailto:app@rondo-verlag.ch?subject=Feedback zum Lied {{song.title}} (Rondo App {{app_version}})">
            Fehler gefunden?
          </browserlink>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-content *ngIf="section == 'notes'" (click)="exitFullscreen()">
  <ion-scroll class="has-header" zooming="true" delegate-handle="notesscroller" direction="xy" style="width: 100%; height: 100%">
    <img id="page" [src]="'assets/songdata/songs/notes/'+song.id+'.png'" style="width: 100%">
  </ion-scroll>
</ion-content>


<ion-content *ngIf="section == 'chords'" padding (click)="exitFullscreen()">
    <div class="chord-list">
      <i *ngFor="let chord of song.chords" class="rondo-icon-chord-{{chord}}" (click)="playChord(chord)"></i>
    </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="rondo-tabs">
      <span *ngIf="!scroll" (click)="startAutoScroll()"><i class="rondo-icon-play"></i></span>
      <span *ngIf="scroll"  (click)="stopAutoScroll()"><i class="rondo-icon-stop"></i></span>
      <span (click)="toggleChords()"><i class="rondo-icon-chords"></i></span>
      <span (click)="section='text'"><i class="rondo-icon-search"></i></span>
      <span (click)="section='chords'"><i class="rondo-icon-library"></i></span>
      <span (click)="section='notes'"><i class="rondo-icon-notes"></i></span>
      <span (click)="toggleSong()"><i class="rondo-icon-midi" [ngClass]="{'midi-playing': playingSong}"></i></span>
    </div>
  </ion-toolbar>
</ion-footer>