<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="navCtrl.pop()" class="rondo-back-button">
        <i class="icon rondo-icon-arrow"></i>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <span [innerHTML]="pageNumbers" class="page-numbers"></span>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content [hidden]="section != 'text'" id="rondo_scrollable" (ionScroll)="onScroll($event)" (click)="exitFullscreen()" [ngClass]="{'scrolling': scroll}">
  <ion-slides zoom="false" (ionSlideDidChange)="slideChanged()" initialSlide="2">
    <ion-slide *ngFor="let page of pages; let i = index">
      <songtext id="{{page}}"></songtext>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-content *ngIf="section == 'notes'" (click)="exitFullscreen()">
  <ion-scroll zoom="true" scrollX="true" scrollY="true" style="width: 100%; height: 100%">
    <img id="page" [src]="'assets/songdata/songs/notes/'+song.id+'.png'" >
  </ion-scroll>
</ion-content>


<ion-content *ngIf="section == 'chords'" padding (click)="exitFullscreen()">
    <div class="chord-list">
      <i *ngFor="let chord of song.chords" class="rondo-icon-chord-{{chord}}" (click)="playChord(chord)"></i>
    </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="rondo-tabs">
      <span *ngIf="!scroll" (click)="startAutoScroll()"><i class="rondo-icon-play"></i></span>
      <span *ngIf="scroll"  (click)="stopAutoScroll()"><i class="rondo-icon-stop"></i></span>
      <span (click)="toggleChords()"><i class="rondo-icon-chords"></i></span>
      <span (click)="section='text'"><i class="rondo-icon-search"></i></span>
      <span (click)="section='chords'"><i class="rondo-icon-library"></i></span>
      <span (click)="section='notes'"><i class="rondo-icon-notes"></i></span>
      <span (click)="toggleSong()"><i class="rondo-icon-midi" [ngClass]="{'midi-playing': playingSong}"></i></span>
    </div>
  </ion-toolbar>
</ion-footer>