page-song {

  .swiper-slide {
    font-size: inherit;
  }

  .rondo-book-index {
    position: absolute;
    right: 10px;
    top: 5px;
    .book {
      border-radius: 15px;
      padding: 2px 8px;
    }

    .book-red {
      background: red;
      color: white;
    }
    .book-blue {
      background: blue;
      color: white;
    }
    .book-green {
      background: #59ffee;
      color: black;
    }
    .book-orange {
      background: orange;
      color: black;
    }
  }

  .rondo-tabs {
    color: white;
    display: -webkit-box;
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-around;

    i {
      font-size: 28px;
    }
  }

  ion-header {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }

  ion-footer {
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
  }

  #rondo_scrollable .scroll-content,
  .fixed-content {
    margin: 0 !important;
  }

  ion-content > .scroll-content,
  .slide-zoom {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
  }

  ion-scroll {
    .scroll-content {
      background: white;
    }
  }

  // disable momentum effect during auto scroll to prevent flickering
  .scrolling .slide-zoom {
    -webkit-overflow-scrolling: auto;
  }

  .copyright {
    font-size: 60%;
    color: #444;
    white-space: pre-wrap;
  }

  .report-error-link {
    color: #444;
    a {
      color: #444;
      text-decoration: none;
      font-size: 60%;
    }
  }

  .chord-list {
    font-size: 35vw;
    padding-top: 20px;

    i {
      width: 33%;
      display: inline-block;
    }
  }

  .song-image {
    width: 100%;
  }

  .song-title {
    text-transform: uppercase;
    font-size: 140%;
    letter-spacing: 2px;
  }

  .page-numbers {
    line-height: 32px;
    font-size: 110%;
    color: white;
    span {
      margin: 0 !important;
    }
    .rondo-red {
      color: red;
    }
    .rondo-blue {
      color: #0099ff;
    }
    .rondo-green {
      color: #99FF99;
    }
    .rondo-orange {
      color: orange;
    }
  }

  .midi-playing {
    color: #555 !important;
  }
}


// -- classes outside of page

.rondo-fullscreen {
  ion-header {
    top: -80px;
  }
  ion-footer {
    bottom: -80px;
  }
}

.rondo-show-chords {
  page-song{
    .chord,
    .empty-chord {
      height: 1.2em;
      overflow: visible;
      width: auto;
    }

    .songtext {
      color: #999;

      .line {
      .word,
      .bl {
          height: 2.5em;
        }
      }

      .chord {
        color: #FFF;
      }

      .paragraph {
        padding-bottom: 3.5em;
      }
    }
  }
}

.ios {
  page-song {
    ion-content > .scroll-content,
    .slide-zoom {
      padding-top: 64px !important;
    }
    #rondo_scrollable .scroll-content {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.md {
  page-song {
    ion-content > .scroll-content,
    .slide-zoom {
      padding-top: 56px !important;
    }
    #rondo_scrollable .scroll-content {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}
